<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:>
<head>
    <title>openvidu-mvc-java</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"></link>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <!-- Bootstrap -->

    <link rel="styleSheet" th:href="@{/css/style.css}" type="text/css" media="screen"></link>
    <link rel="styleSheet" th:href="@{/css/game.css}" type="text/css" media="screen"></link>
    <link rel="styleSheet" th:href="@{/css/timer.css}" type="text/css" media="screen"></link>
    <script th:src="@{/js/openvidu-browser-2.29.0.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@2.2.2/dist/posenet.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core@3.11.0/dist/tf-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter@3.11.0/dist/tf-converter.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl@3.11.0/dist/tf-backend-webgl.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection@0.0.6/dist/pose-detection.min.js"></script>

    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>

<body>
<div class="circleProgress_wrapper" >
    <div class="wrapper right">
        <div class="circleProgress rightcircle right_cartoon"></div>
    </div>
    <div class="wrapper left">
        <div class="circleProgress leftcircle left_cartoon"></div>
    </div>
    <span id="timer">10</span>
</div>
<div id="main-container" class="container">
    <div id="logged">
        <div id="session">
            <div id="session-header">
                <h1 th:text="${sessionName}" id="session-title"></h1>
                <form action="/leave-session" method="post" onsubmit="leaveSession()">
                    <input type="hidden" name="roomId" th:value="${roomId}"></input>
                    <input type="hidden" name="token" th:value="${token}"></input>
                    <button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit">
                        Leave session</button>
                </form>
            </div>
            <button id="draw">스켈레톤 그리기</button>
            <button id="start">게임 시작</button>
            <div id="video-container"></div>
        </div>
    </div>
</div>

<script th:src="@{/js/posenet.js}"></script>
</body>

<script th:inline="javascript">
	// Get all the attributes from the template in Thymeleaf style
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var nickName = [[${ nickName }]];
	var userName = [[${ userName }]];
	var roomId = [[${ roomId }]];

	console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

	// --- 1) Get an OpenVidu object ---

	OV = new OpenVidu();

	// --- 2) Init a session ---

	session = OV.initSession();

	// --- 3) Specify the actions when events take place in the session ---

	// On every new Stream received...
	session.on('streamCreated', (event) => {


		// Subscribe to the Stream to receive it
		// HTML video will be appended to element with 'video-container' id
		var subscriber = session.subscribe(event.stream, 'video-container');

		// When the HTML video has been appended to DOM...
		subscriber.on('videoElementCreated', (event) => {

            console.log(event.element)
			// Add a new HTML element for the user's name and nickname over its video
			const userName = JSON.parse(subscriber.stream.connection.data.split('%/%')[1]).serverData
            event.element.id = `video-${userName}`;
			appendUserData(event.element, subscriber.stream.connection);
			appendGameData(event.element);
			console.log(userName);
            appendMessage(event.element, userName);
			console.log('게임 데이터추가')
		});
	});

	// On every Stream destroyed...
	session.on('streamDestroyed', (event) => {
		// Delete the HTML element with the user's name and nickname
		removeUserData(event.stream.connection);
	});

	// On every asynchronous exception...
	session.on('exception', (exception) => {
		console.warn(exception);
	});

	// --- 4) Connect to the session passing the retrieved token and some more data from
	//        the client (in this case a JSON with the nickname chosen by the user) ---

	session.connect(token, { clientData: nickName })
		.then(() => {

			// --- 5) Set page layout for active call ---

			$('#session-title').text(sessionName);
			$('#join').hide();
			$('#session').show();


			// Here we check somehow if the user has 'PUBLISHER' role before
			// trying to publish its stream. Even if someone modified the client's code and
			// published the stream, it wouldn't work if the token sent in Session.connect
			// method is not recognized as 'PUBLIHSER' role by OpenVidu Server
<!--			if (isPublisher()) {-->

            // --- 6) Get your own camera stream ---

            var publisher = OV.initPublisher('video-container', {
                audioSource: undefined, // The source of audio. If undefined default microphone
                videoSource: undefined, // The source of video. If undefined default webcam
                publishAudio: true,  	// Whether you want to start publishing with your audio unmuted or not
                publishVideo: true,  	// Whether you want to start publishing with your video enabled or not
                resolution: '640x480',  // The resolution of your video
                frameRate: 30,			// The frame rate of your video
                insertMode: 'APPEND',	// How the video is inserted in the target element 'video-container'
                mirror: false       	// Whether to mirror your local video or not
            });

            // --- 7) Specify the actions when events take place in our publisher ---

            // When our HTML video has been added to DOM...
            publisher.on('videoElementCreated', (event) => {
                // Init the main video with ours and append our data
                var userData = {
                    nickName: nickName,
                    userName: userName
                };
                // initMainVideo(event.element, userData);
                event.element.id = `video-${userName}`;
                appendUserData(event.element, userData);
                appendGameData(event.element);
                appendMessage(event.element, userData.userName);
                $(event.element).prop('muted', true); // Mute local video
            });


            // --- 8) Publish your stream ---

            session.publish(publisher);

<!--			} else {-->
<!--				console.warn('You don\'t have permissions to publish');-->
<!--				// initMainVideoThumbnail(); // Show SUBSCRIBER message in main video-->
<!--			}-->
            // 9. web socket 연결
            connect(roomId);
		})
		.catch(error => {
			console.warn('There was an error connecting to the session:', error.code, error.message);
		});

	function leaveSession() {
	    console.log('연결 끊기')
        // web socket 연결 끊기
        disconnect(roomId);
		// --- 9) Leave the session by calling 'disconnect' method over the Session object ---
		session.disconnect();
	}

	function appendUserData(videoElement, connection) {
		var clientData;
		var serverData;
		var nodeId;
		if (connection.nickName) { // Appending local video data
			clientData = connection.nickName;
			serverData = connection.userName;
			nodeId = 'main-videodata';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		var dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		dataNode.innerHTML = '<p class="nickName top">' + clientData + '</p><p class="userName top">' + serverData + '</p>';
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		// addClickListener(videoElement, clientData, serverData);
	}
    function appendGameData(videoElement) {
        console.log('게임 데이터 추가')
        var gameData = document.createElement('div');
        gameData.className = "game-data";
        gameData.innerHTML = '<h2 class="score">현재 점수 : 0</h2>';
        videoElement.parentNode.insertBefore(gameData, videoElement.nextSibling);
        // addClickListener(videoElement, clientData, serverData);
    }
    function appendMessage(videoElement, id){
        console.log('메시지 추가')
        var message = document.createElement('h3');
        message.style="display:none;"
        message.className='message';
        message.id = id;
        videoElement.parentNode.insertBefore(message, videoElement.nextSibling);
    }

	function removeUserData(connection) {
		var userNameRemoved = $("#data-" + connection.connectionId);
		if ($(userNameRemoved).find('p.userName').html() === $('#main-video p.userName').html()) {
			cleanMainVideo(); // The participant focused in the main video has left
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		// $('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			var mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickName').html(clientData);
					$('#main-video p.userName').html(serverData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject;
		$('#main-video p.nickName').html(userData.nickName);
		$('#main-video p.userName').html(userData.userName);
		$('#main-video video').prop('muted', true);
	}

	function initMainVideoThumbnail() {
		$('#main-video video').css("background", "url('images/subscriber-msg.jpg') round");
	}


</script>
<script th:src="@{/js/game.js}"></script>
</html>
